#addbutton {
  margin-left: 83%;
  background-color: #007bff; 
  color: white; 
  border: none; 
  padding: 10px 20px;
  text-align: center; 
 
  display: inline-block; 
  font-size: 16px;
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s; 
}
#editbtn{
  margin-right: 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}
#deletebtn{
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}
#addbutton:hover{
  background-color: black;
}
#editbtn:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
#deletebtn:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
#canclebtn{
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 5px;
}
#canclebtn:hover{
  background-color: black;
  color: white;
}

.Table {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
.search{
  margin-bottom: 10px;
}

.EmployeeForm {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: whitesmoke;
}


.EmployeeForm label {
  font-weight: bold;
  margin-bottom: 5px;
}

.EmployeeForm input[type="text"],
.EmployeeForm input[type="email"],
.EmployeeForm select{
  width: 97%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
}

.EmployeeForm input[type="checkbox"] {
  margin-right: 5px;
}

.EmployeeForm button[type="submit"] {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer
}
.EmployeeForm button:hover{
  background-color: black;
}